workflows/templates/weekly-report.json
{
  "name": "GSR — Weekly Pipeline Report",
  "description": "Runs every Sunday at 6PM ET. Queries Notion for current episode pipeline status and formats a weekly digest for Daniel.",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 22 * * 0" }]
        }
      },
      "id": "cron-trigger",
      "name": "Sunday 6PM ET (22:00 UTC)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": "={{ $vars.NOTION_EPISODES_DB_ID }}",
        "returnAll": true,
        "options": {
          "filter": {
            "type": "manual",
            "value": {
              "property": "Season",
              "select": { "equals": "S3" }
            }
          },
          "sort": [{ "property": "Episode Number", "direction": "ascending" }]
        }
      },
      "id": "query-episodes",
      "name": "Query Season 3 Episodes",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [460, 300],
      "credentials": { "notionApi": { "name": "Notion GSR" } }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": "={{ $vars.NOTION_TASKS_DB_ID }}",
        "returnAll": false,
        "limit": 20,
        "options": {
          "filter": {
            "type": "manual",
            "value": {
              "and": [
                { "property": "Completed", "checkbox": { "equals": false } },
                { "property": "Priority",  "select": { "equals": "Critical" } }
              ]
            }
          }
        }
      },
      "id": "query-critical-tasks",
      "name": "Query Critical Open Tasks",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [460, 480],
      "credentials": { "notionApi": { "name": "Notion GSR" } }
    },
    {
      "parameters": {
        "jsCode": "const episodes = $('Query Season 3 Episodes').all();\nconst tasks = $('Query Critical Open Tasks').all();\n\n// Group episodes by status\nconst byStatus = {};\nepisodes.forEach(ep => {\n  const props = ep.json.properties;\n  const status = props['Status']?.select?.name || 'Unknown';\n  const label = props['Episode #']?.title?.[0]?.plain_text || '?';\n  const uploadStatus = props['Upload Status']?.select?.name || '—';\n  if (!byStatus[status]) byStatus[status] = [];\n  byStatus[status].push(`${label} (Upload: ${uploadStatus})`);\n});\n\nconst statusOrder = ['Planning', 'Pre-Production', 'In Production', 'Post-Production', 'Aired', 'Archived'];\nconst lines = [];\nlines.push('═══ GSR WEEKLY PIPELINE REPORT ═══');\nlines.push(`Week of: ${new Date().toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })}`);\nlines.push('');\n\nstatusOrder.forEach(s => {\n  if (byStatus[s]) {\n    lines.push(`${s.toUpperCase()} (${byStatus[s].length})`);\n    byStatus[s].forEach(ep => lines.push(`  • ${ep}`));\n    lines.push('');\n  }\n});\n\nif (tasks.length > 0) {\n  lines.push(`CRITICAL OPEN TASKS (${tasks.length})`);\n  tasks.forEach(t => {\n    const name = t.json.properties['Name']?.title?.[0]?.plain_text || '?';\n    lines.push(`  ⚠ ${name}`);\n  });\n}\n\nconst total = episodes.length;\nconst aired = (byStatus['Aired'] || []).length;\nconst pct = Math.round(aired / total * 100);\nlines.push('');\nlines.push(`Season Progress: ${aired}/${total} episodes aired (${pct}%)`);\n\nreturn [{ json: { report: lines.join('\\n'), airedCount: aired, total, criticalTasks: tasks.length } }];"
      },
      "id": "format-report",
      "name": "Format Weekly Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 380]
    }
  ],
  "connections": {
    "Sunday 6PM ET (22:00 UTC)": {
      "main": [[
        { "node": "Query Season 3 Episodes", "type": "main", "index": 0 },
        { "node": "Query Critical Open Tasks", "type": "main", "index": 0 }
      ]]
    },
    "Query Season 3 Episodes": { "main": [[{ "node": "Format Weekly Report", "type": "main", "index": 0 }]] },
    "Query Critical Open Tasks": { "main": [[{ "node": "Format Weekly Report", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "_gsr_notes": {
    "credentials_needed": ["Notion GSR"],
    "variables_needed": ["NOTION_EPISODES_DB_ID", "NOTION_TASKS_DB_ID"],
    "extend_with": "Add email or Slack node after 'Format Weekly Report' to deliver to Daniel"
  }
}
