workflows/templates/youtube-upload-log.json
{
  "name": "GSR — YouTube Upload Log",
  "description": "Receives webhook after a YouTube upload completes. Creates a Platform Uploads record in Notion and updates the Episode's Upload Status to 'Live'.",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gsr-youtube-upload",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "YouTube Upload Complete",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "gsr-youtube-upload"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nreturn [{\n  json: {\n    episodeLabel: body.episode_label,\n    notionEpisodeId: body.notion_episode_id,\n    youtubeVideoId: body.video_id,\n    youtubeUrl: `https://www.youtube.com/watch?v=${body.video_id}`,\n    uploadDate: new Date().toISOString().split('T')[0],\n    title: body.title || `${body.episode_label} — YouTube`\n  }\n}];"
      },
      "id": "parse-payload",
      "name": "Parse Upload Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": "={{ $vars.NOTION_PLATFORM_UPLOADS_DB_ID }}",
        "title": "={{ $json.title }}",
        "propertiesUi": {
          "propertyValues": [
            { "key": "Platform",    "type": "select",    "selectValue": "YouTube" },
            { "key": "Status",      "type": "select",    "selectValue": "Live" },
            { "key": "Upload URL",  "type": "url",       "urlValue": "={{ $json.youtubeUrl }}" },
            { "key": "Upload Date", "type": "date",      "dateValue": "={{ $json.uploadDate }}" },
            { "key": "Video ID",    "type": "richText",  "textValue": "={{ $json.youtubeVideoId }}" }
          ]
        }
      },
      "id": "create-upload-record",
      "name": "Create Platform Upload Record",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [680, 220],
      "credentials": { "notionApi": { "name": "Notion GSR" } }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": "={{ $('Parse Upload Payload').item.json.notionEpisodeId }}",
        "propertiesUi": {
          "propertyValues": [
            { "key": "Upload Status", "type": "select", "selectValue": "Live" }
          ]
        }
      },
      "id": "update-episode-status",
      "name": "Update Episode Upload Status",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [680, 380],
      "credentials": { "notionApi": { "name": "Notion GSR" } }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"episode\": \"{{ $('Parse Upload Payload').item.json.episodeLabel }}\" }"
      },
      "id": "respond-ok",
      "name": "Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "YouTube Upload Complete": { "main": [[{ "node": "Parse Upload Payload", "type": "main", "index": 0 }]] },
    "Parse Upload Payload": {
      "main": [[
        { "node": "Create Platform Upload Record", "type": "main", "index": 0 },
        { "node": "Update Episode Upload Status",  "type": "main", "index": 0 }
      ]]
    },
    "Create Platform Upload Record": { "main": [[{ "node": "Respond 200 OK", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "_gsr_notes": {
    "credentials_needed": ["Notion GSR"],
    "variables_needed": ["NOTION_PLATFORM_UPLOADS_DB_ID"],
    "webhook_url": "POST {N8N_CLOUD_WEBHOOK_BASE}gsr-youtube-upload",
    "payload_schema": {
      "episode_label": "S03EP025",
      "notion_episode_id": "page-id-uuid",
      "video_id": "dQw4w9WgXcQ",
      "title": "S03 EP025 — Episode Title"
    }
  }
}
